{% if error_message == false %}
  <div class="buttons">
  <div class="pull-right">
    <a class="btn btn-primary" href="{{ url_redirect }}">{{ button_confirm }} {{ and_pay }} {{ btc }} BTC</a>
  </div>
</div>
{% else %}
    <div class="buttons"><div class="alert alert-danger" role="alert">{{ error_message }} </div></div>
{% endif %}